<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>OWNROOM</title>
    <link rel="stylesheet" href="css/search.css">
</head>
<body>
<div id="container">
    <div id="find-place-container">
        <input type="text" id="input-find-place" placeholder="지역명 또는 지하철역을 검색해보세요" autocomplete="off">
        <button id="btn">확인</button>
        <ul id="find-place-results"></ul>
    </div>
</div>
<script src="js/lib/jquery-3.2.1.min.js"></script>
<script src="js/search.js"></script>
</body>
</html>